
<div class="fmcenter">
    <form  [formGroup]="myForm">
        <div class="log">
            Login
        </div>
        <div class="login">
            <div >
            <p class="nam1">Name</p>
            <input type="text" placeholder="Enter the name"  class="nam"  formControlName="name">
            <div>
                @if (myForm.controls['name'].errors?.['required'] && myForm.controls['name'].touched) {
                    <span>Name is required</span>
                }
            </div>
        </div>
        <div>
            <p class="pass1">Password</p>
            <input type="password" placeholder="Enter the password" class="pass" formControlName="password">
            <div>
                @if (myForm.controls['password'].errors?.['required'] && myForm.controls['password'].touched) {
                    <span>Password is required</span>
                }
            </div>
        </div>
        <div>
            <button class="logbtn" (click)="clicklog()" routerLink="/">Login</button>
        </div>
        <div class="sign">
            <a href="#" routerLink="/signup">Sign up</a>
        </div>

    </div>
</form>
</div>