<div>
    <div>
       <ul>
        @for (i of state; track $index) {
            <li>{{i}}</li>
        }
       </ul>
    </div>
</div>
<div>
    <table>
        <tr>
            <th>Sr no</th>
            <th>Name</th>
            <th>age</th>
        </tr>
        
            @for (i of students; track $index) {
               
               <tr>
                <td>{{$index+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
               </tr> 
            }
    </table>
</div>